* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: rgb(242, 234, 234);
  background-color: rgb(59, 30, 30);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(242, 234, 234);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.header {
  height: 50px;
  background-color: rgb(38, 33, 33);
  border-bottom: 1px solid rgb(242, 234, 234);
}

.main {
  background-color: rgb(38, 33, 33);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 70px;
}

.footer {
  height: 200px;
  background-color: rgb(38, 33, 33);
  border-top: 1px solid rgb(242, 234, 234);
}

.circle {
  width: 380px;
  height: 380px;
  background-color: rgb(35, 45, 78);
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 20px #000;
          box-shadow: 1px 2px 20px #000;
}

.rand-btn {
  width: 360px;
  height: 50px;
  position: relative;
  z-index: 99999;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 32px;
  background: rgb(164, 125, 87);
  outline: none;
  color: rgb(242, 234, 234);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  opacity: 0.5;
}

.rand-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.circle {
  position: relative;
}

.center {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(220, 212, 72);
  z-index: 9;
  -webkit-box-shadow: 1px 2px 10px #000, inset 1px 2px 12px #000;
          box-shadow: 1px 2px 10px #000, inset 1px 2px 12px #000;
}

.rand-group {
  position: relative;
}
.rand-group .arrow {
  position: absolute;
  top: 22%;
  left: 12%;
  width: 50px;
  height: 2px;
  background-color: rgb(255, 25, 0);
  rotate: 227deg;
  z-index: 8;
  opacity: 0.8;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
}
.rand-group .arrow::after {
  content: "";
  display: block;
  border-left: 40px solid #ff0000;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  rotate: 180deg;
  position: absolute;
  left: -24px;
  top: -18px;
}